.headerWrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;

	padding: 60px 48px;

	background: rgba(0, 70, 40, 0.55);
	backdrop-filter: blur(10px);

	z-index: 5;
}

.greeting {
	font-size: 42px;
	font-weight: 600;
	color: white;
	margin: 0;
}