.dockWrapper {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;

	padding: 38px 48px;

	background: rgba(0, 70, 40, 0.52);
	backdrop-filter: blur(12px);

	z-index: 5;
}

.cardContainer {
	display: flex;
	gap: 28px;
	justify-content: center;
	align-items: center;
}